.heading {
color: 282a36;
  font-weight: bold;
  padding-bottom: 100px;

}
.date{
  display: none;
}
.min {
  color: rgb(255, 255, 255);
}
.max {
  color: rgb(248, 137, 10);
  font-weight:bold;
}
.line{
    color: rgb(255, 255, 255);
}

.start {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/103/957/original/1.jpg?1699979230");  
    background-size: 1400px 950px;
  max-width: 650px;
  margin: 0 auto;
color: white;
  text-align: center;
  padding: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
}

.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/103/956/original/sunset-sea-beach-waves-blue-orange-sky-wallpaper-preview.jpg?1699978917");
    border: rgb(85, 88, 218) 0%;
  background-repeat: no-repeat;
      background-size: 550px 1200px;
  border-radius: 20px;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
}

.search {
  padding: 42px;
  display: block;
  margin: 34px;
  text-align: center;
  width: 100%;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.containerone {
  padding: 31px 31px;
  opacity: 10%;
}

.containertwo {
  padding: 40px 10px;
}

.weather {
  block-size: 200px;
  border: 2px white solid;
  border-radius: 25px;
background-color: rgba(0, 0, 0, 0.35);
  max-height: 200px;      
  padding: 25px 45px;
}

#weather-five {
  display: flex;
  justify-content: space-around;
}

.emoji {
  font-size: 35px;
  display: inline;
}

.temperature {
  font-size: 35px;
  display: inline;
}

.first {
  position: relative;
  left: 190px;
  bottom: 50px;
  max-width: 150px;
  text-align: center;
background-color: rgba(0, 0, 0, 0.4);
  max-height: 200px;
  border: 2px white dotted;
  border-radius: 10px;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.5);
}

.first:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.second {
  position: relative;
  right: 185px;
background-color: rgba(0, 0, 0, 0.4);
top: -180px;
  max-width: 150px;
  padding: 40px 25px 40px 25px;
  text-align: center;
  max-height: 200px;
  border: 2px white solid;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.5);
}

.third {
  position: relative;
  right: -181px;
  top: -382px;
background-color: rgba(0, 0, 0, 0.4);
font-size: 30px;
  max-width: 150px;
  padding: 60px;
  text-align: center;
  max-height: 200px;
  padding: 55px 25px 55px 25px;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.5);
  font-size: 19px;
}


.day {
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.date {
  font-size: 15px;
}

.icon {
  font-size: 25px;
}
.icons{
    width: 100%;
}
.temp {
  font-size: 15px;
}

.wed {
  position: relative;
  right: 95px;
  top: -82px;
}

.Thurs {
  position: relative;
  right: -1px;
  top: -194px;
}

.Fri {
  position: relative;
  right: -95px;
  top: -307px;
}

.Sat {
  position: relative;
  right: -190px;
  top: -420px;
}
.days:hover{
      background-color: pink;
  color: #1a64d6;
}

.active {
  color: white;
  cursor: default;
  text-decoration: none;

}

.active:hover {
  text-decoration: none;
}

.units {
  font-size: 14px;
}
.humid{
color: rgb(248, 137, 10);
  font-weight: bold;
}
.wind {
color: rgb(248, 137, 10);
font-weight:bold;
}
.f{
    color: rgb(248, 137, 10);
    font-weight: bold;
}
.search-button {
  color: rgb(248, 137, 10);
}
#description {
  text-transform: capitalize;
}